<ion-content [fullscreen]="true" [style.--background]="'var(--ion-color-secondary)'">

  <div class="header-container">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-center">
        <ion-col size="9" class="brand-section">
          <ion-button fill="clear" class="avatar-button" (click)="goToProfile()">
            <ion-avatar class="user-avatar">
              <img src="assets/imagen/usuario.webp" alt="Perfil">
            </ion-avatar>
          </ion-button>
          <h1 class="clinic-name">CLINICA DENTAL</h1>
        </ion-col>
        <ion-col size="3" class="ion-text-end">
          <ion-button fill="clear" (click)="toggleNotification()">
            <ion-icon slot="icon-only" name="notifications" color="primary"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="main-title-container">
    <h2 class="section-main-title">Agendar Cita</h2>
    <p class="section-subtitle">Selecciona el tratamiento y el horario que mejor te convenga.</p>
  </div>

  <div class="treatment-section">
    <div class="section-header-inline">
      <h2 class="section-title-small">Tratamiento</h2>
      <ion-button fill="clear" (click)="viewMoreTreatments()" class="view-more-btn">
        Ver más
      </ion-button>
    </div>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <div class="treatment-box" [class.selected]="tratamientoSeleccionado === 'ortodoncia'" (click)="seleccionar('ortodoncia')">
            <div class="icon-wrapper blue-light">
              <img src="assets/imagen/ortodoncia.webp" class="inner-icon">
            </div>
            <h3>Ortodoncia</h3>
            <p>60 min</p>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="treatment-box" [class.selected]="tratamientoSeleccionado === 'limpieza'" (click)="seleccionar('limpieza')">
            <div class="icon-wrapper grey-light">
              <img src="assets/imagen/simbolo.webp" class="inner-icon">
            </div>
            <h3>Limpieza</h3>
            <p>45 min</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
